<%# This is the CSS which creates the line break %>
<style>
  /*p.post is a paragraph class assigned to the white space in the feed */
  p.post {
    white-space: pre-line;
  }
 </style> 


<% @posts.each do |post| %>
  <p class="user_handle"><%= "@" + post.userhandle %></p>
  <p class="post"><%= post.message %></p>
  <p class="time"><%= post.created_at.strftime("%d/%m/%Y" + "  " + "%k:%M %p") %></p>
  
<% end %><br>


<%= link_to "New Post", "http://localhost:3000/posts/new" %><br>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>



